.containerInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 20px 40px;
}

.inputTitle{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputDescription {
  margin: 10px;
}

.data{
  margin: 10px;
}

.priority {
  margin: 10px;
  min-width: 120px;
}

