.containerInput{
  display: flex;
  justify-content: center;
}

.inputTitle{
  margin: 10px;
}

.inputDescription {
  margin: 10px;
}

.data{
  margin: 10px;
}

.priority {
  margin: 10px;
  min-width: 120px;
}

