.taskOne{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.taskContainer{
    border-bottom: 3px solid cornflowerblue;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}

.containerList{
    display: flex;
    flex-direction: column;
    min-width: 350px;

    .chip{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 10px;
        min-width: 40px;
        padding: 3px;
        height: 14px;
        border-radius: 5px;
        display: flex;
    }

    .high{
        background-color: #ab2020;
        color: white;
    }
    .medium{
        background-color: #eeee50;
    }
    .low{
        background-color: green;
        color: white;
    }

    .taskData{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;

        .taskTitle{
            margin: 3px;
            font-size: 15px;
        }

        .taskDescription{
            margin: 3px;
            font-size: 12px;
        }
    }

    .data{
        display: flex;
        flex-direction: column;
    }
}

.deadline{

}

.timeLeft{

}

.edit{
    margin: 5px;
}

.delete{
    margin: 5px;
}